body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f1f1f1;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.input-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

.filters-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.available-filters,
.selected-filters {
  width: 45%;
}

.filter-block {
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.filter-block.selected {
  background-color: #007bff;
  color: white;
}

.filter-block.selected .remove-filter {
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.filter-block.selected .remove-filter:hover {
  color: #ff0000;
}

.remove-filter {
  margin-left: 10px;
}

.response-block {
  margin-top: 20px;
  text-align: left;
}

strong {
  display: inline-block;
  width: 150px;
  text-align: left;
}

p {
  margin-top: 20px;
  color: red;
}
